RewriteEngine On # Turn on the rewriting engine
RewriteRule ^api/listar$ api.php?opc=listar [NC,L]
RewriteRule ^api/insertar$ api.php?opc=insertar [NC,L]
RewriteRule ^api/editar$ api.php?opc=editar [NC,L]
RewriteRule ^api/eliminar/([0-9a-zA-Z_-]*)$ api.php?opc=eliminar&user_id=$1 [NC,L]
RewriteRule ^api/obtener/([0-9a-zA-Z_-]*)$ api.php?opc=obtener&user_id=$1 [NC,L]